.nav {
    background: var(--background);
    backdrop-filter: blur(10px);
    color: var(--accent-color);
    padding: .01rem 1rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 100;

    gap: 1rem;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.nav h1 {
    font-size: 1.7rem;
    filter: drop-shadow(0 0 5px var(--accent-color));
    user-select: none;
}

.nav input {
    background: transparent;
    color: var(--accent-color);
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.nav input::placeholder {
    color: var(--accent-color);
    opacity: 0.5;
}

.nav input:focus {
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.icon {
    background: transparent;
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:hover {
    color: var(--accent-color);
}