/** Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap"); /* Fira Code */

:root {
    /* Colors */
    --background: rgb(var(--background-rgb));
    --background-rgb:
        30, 30, 30; /* 15, 15, 15 if you want a darker background */
    --background-25: rgba(var(--background-rgb), 0.25);
    --background-50: rgba(var(--background-rgb), 0.5);
    --background-75: rgba(var(--background-rgb), 0.75);

    --secondary-background: rgb(var(--secondary-background-rgb));
    --secondary-background-rgb: 20, 20, 20;
    --secondary-background-25: rgba(var(--secondary-background-rgb), 0.25);
    --secondary-background-50: rgba(var(--secondary-background-rgb), 0.5);
    --secondary-background-75: rgba(var(--secondary-background-rgb), 0.75);

    --text: rgb(var(--text-rgb));
    --text-rgb: 255, 255, 255;
    --text-10: rgba(var(--text-rgb), 0.1);
    --text-25: rgba(var(--text-rgb), 0.25);
    --text-50: rgba(var(--text-rgb), 0.5);
    --text-75: rgba(var(--text-rgb), 0.75);

    --primary: rgb(var(--primary-rgb));
    --primary-rgb: 240, 201, 80;
    --primary-25: rgba(var(--primary-rgb), 0.25);
    --primary-50: rgba(var(--primary-rgb), 0.5);
    --primary-75: rgba(var(--primary-rgb), 0.75);

    --accent: rgb(var(--accent-rgb));
    --accent-color: var(--accent);
    --accent-rgb: 230, 255, 239;
    --accent-25: rgba(var(--accent-rgb), 0.25);
    --accent-50: rgba(var(--accent-rgb), 0.5);
    --accent-75: rgba(var(--accent-rgb), 0.75);

    --gradient-colors: var(--primary), var(--accent);
    --gradient: linear-gradient(90deg, var(--gradient-colors));

    /* Variables */
    --border-radius: 10px;
    --font-serif: "Roboto", sans-serif;
    --font-mono: "Fira Code", monospace;
    --transition: 0.3s;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    --border: 1px solid var(--text);
    --border-10: 1px solid var(--text-10);
    --border-25: 1px solid var(--text-25);
    --border-50: 1px solid var(--text-50);
    --border-75: 1px solid var(--text-75);
    --border-accent: 1px solid var(--accent);

    --dashed-border: 1px dashed var(--text);
    --dashed-border-25: 1px dashed var(--text-25);
    --dashed-border-50: 1px dashed var(--text-50);
    --dashed-border-75: 1px dashed var(--text-75);
    --dashed-border-accent: 1px dashed var(--accent);

    --dotted-border: 1px dotted var(--text);
    --dotted-border-25: 1px dotted var(--text-25);
    --dotted-border-50: 1px dotted var(--text-50);
    --dotted-border-75: 1px dotted var(--text-75);
    --dotted-border-accent: 1px dotted var(--accent);

    --blur: blur(10px);

    /* Colors */
    --green: #95ff95;
    --red: #ff9595;
    --blue: #9595ff;
    --yellow: #ffff95;

    --global-padding: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::selection {
    background-color: var(--accent);
    color: var(--background);
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-family: var(--font-serif);
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    min-width: 100vw;
    padding: var(--global-padding);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

main {
    flex: 1 0 auto;
    overflow-y: auto;
    padding: 0 1rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: var(--accent);
}

button {
    all: unset;
    cursor: pointer;
}

/* Sizes */

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

p {
    font-size: 1rem;
    margin: 1rem 0;
}

ul {
    list-style: none;
}

/* Effects */

.stoke {
    font-style: italic;
    -webkit-text-stroke-color: var(--text);
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.highlight {
    color: var(--background);
    background-color: var(--accent);
}
