.results {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding: 1rem;
    background: var(--secondary-background-50);
    border-radius: var(--border-radius);
}