.searchContainer {
    width: 100%;
    border-radius: var(--border-radius);
    color: var(--text-75);
    background: var(--secondary-background-50);
}

.searchContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchIcon {
    color: inherit;
    margin-left: 1rem;
    font-size: .8rem;
}

.searchBar {
    font-size: 1rem;
    font-family: var(--font-serif);
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 1rem;
}

.peek {
    border-top: var(--dashed-border);
    width: 100%;
}

.peek ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.peek ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.2s;
}

.peek ul li:hover {
    background: var(--secondary-background-50);
}

.peek ul li span {
    display: flex;
    align-items: center;
    justify-content: center;
}